*{
    margin: 0%;
    padding: 0%;
}
.navbar{
    background-color: #fd6569;
    padding: 10px;
}
.container{
    padding: 10px;
}
.book-container{
    padding: 15px;
    width: 25%;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin: 30px;
    display: inline-block;
    vertical-align: top;
}
.book-container h2{
    color: #fd6569;
    
}
.book-container button{
    background-color: #fd6569;
    color: black;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    margin-top: 10px;
    
}
.add-button{
    background-color: #fd6569;
    color: black;
    border-radius: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 40px;
    border: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
}
.popup-overlay{
    background-color: black;
    opacity: 0.95;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
    
}
.popup-box{
    background-color: #e22a31;
    position: absolute;
    padding:40PX ;
    border-radius:10PX ;
    left: 25%;
    top: 20%;
    z-index: 2;
    display: none;
}
.popup-box input{
    background: transparent;
    width: 100%;
    padding: 5px;
    margin: 5px;
    border: none;
    border-bottom: 2px solid black;
    color: black;
}
.popup-box textarea{
    background: transparent;
    width: 100%;
    padding: 5px;
    margin: 5px;
    border: none;
    border: 2px solid black;
    color: black;
}
.popup-box input::placeholder{
    color: black;
}
.popup-box textarea::placeholder{
    color: black;
}
.popup-box button{
    background-color: black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    border-radius: 10px;
    border: none;
}
.popup-box input:focus{
    outline: none;
}
.popup-box textarea:focus{
    outline: none;
}
    
